.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

main {
  margin: 20px;
}

p {
  font-family: quasimoda, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 15px;
}

h2 {
  font-family: quasimoda, sans-serif;
  font-style: normal;
  font-weight: 200;
  color: black;
}

.col_1 {
  background-color: #fddce4;
}

.col_2 {
  background-color: #aee2dd;
}
