.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

main {
  margin: 20px;
}

p {
  font-family: quasimoda, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 15px;
}

h2 {
  font-family: quasimoda, sans-serif;
  font-style: normal;
  font-weight: 200;
  color: black;
}

.col_1 {
  background-color: #fddce4;
}

.col_2 {
  background-color: #aee2dd;
}

/* .dropbtn {
  color: #f784a9;
  padding: 16px;
  font-size: 16px;
  border: none;
  background-color: white;
  font-family: quasimoda, sans-serif;
  font-weight: 400;
}

.dropdown {
  position: relative;
  display: inline-block;
  bottom: 26px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fffefe72;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: #f784a9;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
} */
