* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  color: #fffafa;
  line-height: 1.5;
}
.col {
  margin: 2rem;
}

h1 {
  color: #f7bcee;
  letter-spacing: 1.5px;
  font-size: 2.2rem;
  text-align: center;
  font-family: "Modak", cursive;
  font-style: bold;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: 1.2rem;
  color: black;
}

ul {
  list-style: none;
}

.nav_style li {
  overflow: hidden;
  display: inline-block;
  overflow: hidden;
  padding: 10px;
  margin: 10px;
  text-overflow: unset;
  font-size: 1rem;
  font-weight: bold;
}

.a a {
  color: #e2396f;
  letter-spacing: 1.5px;
  font-family: quasimoda, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}

.logo_style {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

footer {
  padding-bottom: 2rem;
  color: #aee2dd;
}

header {
  padding-bottom: 7rem;
  text-align: center;
}
