* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  color: #fffafa;
  line-height: 1.5;
}
.col {
  margin: 2rem;
}

h1 {
  color: #f7bcee;
  letter-spacing: 2px;
  font-size: 2.2rem;
}

h2 {
}

p {
}

header {
  text-align: center;
}

ul {
  list-style: none;
  color: #e2396f;
}
