/* .dropbtn {
  color: #e2396f;
  padding: 16px;
  font-size: 16px;
  border: none;
  background-color: white;
  font-family: quasimoda, sans-serif;
  font-weight: 400;
}

.dropdown {
  position: relative;
  display: inline-block;
  bottom: 26px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: #e2396f;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
} */

body{
  font-family: quasimoda, sans-serif;
}


.full-img-container{
  margin-top: 10px;
  height: 700px;
  background-image: url(../images/forside/image.svg);
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;

}

 .kp-button{
  padding: 12px 25px;
  border: 3px solid white;
  border-radius: 15px;
  text-decoration: none;
  color:white;
  margin-bottom: 45px;
  font-size: 20px;
  }

  .c-button{
    margin-top: 150px;
    display: inline-block;
  }


  .categories-container{
    max-width: 900px;
    /* border: 1px solid red; */
    margin: 0 auto;
   
}



  .categori{
    display: flex;
    justify-content: space-between;
    
}

.categori div{
     
}

.kopper{
  background: url(../images/forside/categori-kopper.svg);
}

.flasker{
  background: url(../images/forside/flakser.svg);
}

.nogleringe{
  background: url(../images/forside/nogleringe.svg);
}

.brocher{
  background: url(../images/forside/brocher.svg);
}

.bestilling{
  background: url(../images/forside/bestilling.svg);
}



.categori-img {
width: 350px;

background-repeat: no-repeat;
background-size: contain;
height: 350px;
text-align: center;
}


.first-star{
  max-width: 400px;
  text-align: center;
  margin: 70px auto;

}

.first-star img{
  width: 40px;
}

.catogori-star{
   width: 400px;
   text-align: center;

}

.catogori-star img{
  position: relative;
  top: 130px;
  width: 40px;

}


.not-top{
  margin-top: -70px;
}

@media only screen and (max-width: 700px) {

  .categori-img {
    width: 250px;
    height: 250px;
    
    }
    .c-button{
      margin-top: 100px;
      display: inline-block;
    }
  
  .catogori-star{
   display: none;

 }

 .categori{
  justify-content: center;
  }
  .not-top{
    margin-top: 20px;
  }

}


.newsletter-container{
  background-color: #E5DAF7;
}

.newsletter-content{
  width: 400px;
  margin: 100px auto;
  text-align: center;
  
}