* {
  margin: 0;
  padding: 0;
}

.grid_shop {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr;
}

img {
  border-radius: 110px;
  width: 450px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
  color: #f784a9;
  display: flexbox;
  text-align: center;
  font-family: "Fredoka One", cursive;
  font-style: normal;
  font-weight: 100px;
  letter-spacing: 2px;
  padding-top: 1rem;
}

.p_style {
  color: #ffffff;
  font-weight: bold;
  display: flexbox;
  text-align: center;
  font-family: quasimoda, sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
  font-size: 0.8rem;
}

.p {
  font-family: quasimoda, sans-serif;
}

/* .p_style {
  color: #ffffff;
  font-weight: bold;
  display: flexbox;
  text-align: center;
  font-family: quasimoda, sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
  font-size: 0.8rem;
}

.p_style2 {
  color: #ffffff;
  font-weight: bold;
  display: inline;
  text-align: left;
  font-family: quasimoda, sans-serif;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 2px;
  font-size: 0.7rem;
} */

footer {
  padding-bottom: 2rem;
  color: #aee2dd;
}

.logo_style {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2rem;
  padding-top: 2rem;
}
/* 
.headerbanner {
  padding: 10px;
  background: #aee2dd;
  display: flexbox;
}

.footerbanner {
  padding: 10px;
  background: #aee2dd;
  display: flexbox;
} */

/* .dropbtn {
  color: #e2396f;
  padding: 16px;
  font-size: 16px;
  border: none;
  background-color: white;
  font-family: quasimoda, sans-serif;
  font-weight: 400;
}

.dropdown {
  position: relative;
  display: inline-block;
  bottom: 26px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: #e2396f;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
} */

/* * {
  box-sizing: border-box;
  outline: none;
}
body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #dff9fb;
  background-attachment: fixed;
} */
.fa-cart-plus {
  background: #dea5ed;
}

.addtocart {
  display: block;
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 100px;
  border: none;
  font-size: 2em;
  position: relative;
  background: #dea5ed;
  cursor: pointer;
  height: 1.5em;
  width: 3.5em;
  overflow: hidden;
  transition: transform 0.1s;
  z-index: 1;
}
.addtocart:hover {
  transform: scale(1.1);
}
.pretext {
  color: #fff;
  background: #dea5ed;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: quasimoda, sans-serif;
}
i {
  margin-right: 10px;
}
.done {
  background: #9c7ba3;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  transition: transform 0.3s ease;

  transform: translate(-110%) skew(-40deg);
}
.posttext {
  background: #9c7ba3;
}
.fa-check {
  background: #9c7ba3;
}
