* {
  margin: 0;
  padding: 0;
}

.grid_shop {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr;
}

img {
  border-radius: 110px;
  width: 450px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
  color: #f7bcee;
  display: flexbox;
  text-align: center;
  font-family: "Fredoka One", cursive;
  font-style: normal;
  font-weight: 100px;
  letter-spacing: 2px;
  padding-top: 1rem;
}

/* .p_style {
  color: #ffffff;
  font-weight: bold;
  display: flexbox;
  text-align: center;
  font-family: quasimoda, sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
  font-size: 0.8rem;
}

.p_style2 {
  color: #ffffff;
  font-weight: bold;
  display: inline;
  text-align: left;
  font-family: quasimoda, sans-serif;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 2px;
  font-size: 0.7rem;
} */

footer {
  padding-bottom: 2rem;
  color: #aee2dd;
}

.logo_style {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2rem;
  padding-top: 2rem;
}
/* 
.headerbanner {
  padding: 10px;
  background: #aee2dd;
  display: flexbox;
}

.footerbanner {
  padding: 10px;
  background: #aee2dd;
  display: flexbox;
} */

/* .dropbtn {
  color: #e2396f;
  padding: 16px;
  font-size: 16px;
  border: none;
  background-color: white;
  font-family: quasimoda, sans-serif;
  font-weight: 400;
}

.dropdown {
  position: relative;
  display: inline-block;
  bottom: 26px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: #e2396f;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
} */
